@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown ol {
  @apply list-decimal pl-10;
}
.markdown ul {
  @apply list-disc pl-10;
}

/* .markdown hire {
  @apply text-teal-500 text-2xl md:text-4xl font-bold text-center mx-auto my-16;
} */
/*  自作タグ */
/* <p><hire>hoge</hire><p>として展開される */

.markdown h1 {
  @apply text-teal-500 text-4xl md:text-6xl font-bold text-center my-16;
}

.markdown h2 {
  @apply text-gray-800 text-2xl md:text-4xl font-bold text-start mt-16;
}

.markdown h3 {
  @apply text-gray-800 text-xl md:text-2xl font-bold text-start my-3 border-b border-black;
}

.markdown h4 {
  @apply text-gray-800 text-lg md:text-xl font-bold text-start my-1;
}
.markdown p {
  @apply text-gray-500 md:text-xl mx-auto my-2 md:my-4;
}
.markdown li {
  @apply text-gray-500 md:text-xl mx-auto my-1 md:my-2;
}

.markdown a {
  @apply underline text-teal-500 hover:text-teal-500;
}
.markdown img {
  @apply mx-auto sm:w-4/5 w-3/5 my-6;
}

.markdown .youtube-container {
  @apply mx-auto my-6 aspect-video sm:w-3/5 w-5/6;
}
.markdown iframe {
  @apply w-full h-full;
}

.markdown table {
  @apply mx-auto w-full;
}
.markdown td {
  @apply object-center;
}


.markdown {
  @apply max-w-screen-lg px-4 md:px-8 mx-auto sm:my-8 my-16;
}